agixtsdk==0.0.82
safeexecute==0.0.27
google-generativeai==0.8.3
anthropic==0.43.0
discord.py>=2.0.0
arxiv>=2.0.0
PyGithub==2.5.0
openai==1.59.7
fastapi
uvicorn
youtube-transcript-api==0.6.3
stripe==10.10.0
google-auth==2.34.0
google-api-python-client==2.144.0
python-multipart==0.0.22
pyotp
pytz
openpyxl==3.1.5
opencv-python
black
apache-libcloud
watchdog
broadcaster
gql
pyodbc
pyvirtualdisplay
solana
base58
solders
requests-oauthlib
blinkpy>=0.23.0
ring_doorbell>=0.9.13
aiohttp
hikvisionapi>=0.3.2
djitellopy
axis
PyNaCl>=1.5.0
eth-account>=0.13.0
argon2-cffi>=21.3.0
redis
twilio
botbuilder-core==4.17.1
slack-sdk==3.41.0
pyzbar
pytesseract